body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-content, .footer {
    padding: 0 120px;
    align-items: center;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}
.header {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}
.top {
    justify-content: center;
    gap: 50px;
    padding: 80px;
    align-items: center;
    background-color: #1F2937;
    display: flex;
}
.text {

    width: 400px;
    height: 220px;
    flex-wrap: wrap;
}
.top-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.top-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}
.sign-up {
    color: #E5E7EB;
    width: fit-content;
    padding: 10px 40px;
    background-color: #3882F6;
    border-radius: 10px;
}
.img {
    display: flex;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 400px;
    background-color: gray;
}
.middle {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.middle-title {
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}
.middle .middle-text-group {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.middle-text {
    width: 150px;
    height: 150px;
    flex-wrap: wrap;
}
.lower {
    display: flex;
}
.bottom {
    display: flex;
}
ul {
    list-style: none;
    display: flex;
    gap: 16px;
}
li {
    color: #E5E7EB;
}